<!-- start breadcrumb  -->
@*<div id="div-Data">
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a id="hl-homepage" href="javascript:void(0);"><i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
    </a></li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.MasterData</li>
</ul>*@
<!-- breadcrumb end -->

    @*<div id="div-Options">
        <div id="div-Action" class="radius-top-left-right">
        </div>
    </div>*@
@*    <section class="panel panel-default">
        <header class="panel-heading">
            <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.MasterData
            </h3>
        </header>
        <div class="row text-sm wrapper">
            <div id="div-main-options" class="col-sm-12 m-b-xs">*@
                @*<a id="tabLocations" name="tabs" tab-name="Locations" class="btn btn-s-md btn-primary btn-warning btn-rounded"><i class="fa fa-map-marker"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Locations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="tabPartners" name="tabs" tab-name="Partners"  class="btn btn-s-md btn-primary btn-rounded"><i class="fa fa-users"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Partners</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="tabInvoicing" name="tabs" tab-name="Invoicing"  class="btn btn-s-md btn-primary btn-rounded"><i class="fa fa-dollar"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Invoicing</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="tabOthers" name="tabs" tab-name="Others"  class="btn btn-s-md btn-primary btn-rounded"><i class="fa fa-th-list"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Others</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
              @*  
            </div>
        </div>
        <div id="div-Tabs">
            
        </div>
    </section>*@
@*</div>*@
