@{

   

}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.ReportTitle</title>
    @WebReportGlobals.Scripts()
    @WebReportGlobals.Styles()
    
</head>
<body>
 
   @ViewBag.WebReport.GetHtml();

</body>


