<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net48" />
  <package id="EPPlus" version="6.0.8" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="6.0.0" targetFramework="net45" requireReinstallation="true" />
  <package id="EPPlus.System.Drawing" version="6.0.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MoreLinq.Portable" version="1.4.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net45" />
  <package id="QRCoder" version="1.4.3" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Json" version="4.0.20126.16343" targetFramework="net45" />
  <package id="System.Memory" version="4.5.5" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net45" requireReinstallation="true" />
</packages>