<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
	  <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingARKBL; integrated security=true;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingARKBL;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionStringMESCO" connectionString="Data Source=.;Initial Catalog=ForwardingMesco;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
	  <!--<add name="ConnectionString" connectionString="data Source=72.167.40.157;Initial Catalog=ForwardingKDM;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
	  <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingTransChemTax;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
	  <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingElite;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
	  <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingBlueOceanMarine;integrated security=true;" providerName="System.Data.SqlClient"/>-->
	  <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingTRO_2;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=92.205.28.184, 6664;Initial Catalog=ForwardingEGL2023;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingARKBL;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingFellowShip;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=92.205.28.184, 6664;Initial Catalog=ForwardingEGL2023;User ID=saw;Password=xuhGX7Vb5KmkDEKp;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=192.169.176.231;Initial Catalog=ForwardingOceanWaves;User ID=saw;Password=YUXBn9G37zcBwz7B;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ERP_Mars_Alex_2022;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=192.169.176.231;Initial Catalog=ForwardingSefem;User ID=saw;Password=YUXBn9G37zcBwz7B;integrated security=false;" providerName="System.Data.SqlClient"/>-->
	  <!--<add name="ConnectionString" connectionString="Data Source=72.167.52.206;Initial Catalog=ForwardingDGL2022;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
	  <!--<add name="ConnectionString" connectionString="Data Source=72.167.52.206;Initial Catalog=ForwardingBlueOceanMarine;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=ForwardingCapital;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=92.205.128.102;Initial Catalog=ForwardingTCS;User ID=TransC;Password=TransCPtV7TD;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=DESKTOP-M2KGEHM;Initial Catalog=ForwardingEGL2023;User ID=sa;Password=6666;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=DESKTOP-M2KGEHM;Initial Catalog=ForwardingIST_RealDB;User ID=sa;Password=6666;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.40.157;Initial Catalog=ForwardingILSInternational;User ID=ILS;Password=ILS521sef;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingUnitedTrans;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/> -->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingNIS;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingBlueAnchorLogistics;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.52.206;Initial Catalog=ForwardingTransChem-test;User ID=!$T&amp;$0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.52.206;Initial Catalog=ForwardingTRC-Test;User ID=TransC;Password=TransCPtV7TD;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.52.206;Initial Catalog=Forward ingTRO;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=AAA;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingACSLogistics2022;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingFastfright;User ID=FastFright;Password=FastFrightGXg99w;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingIST;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingMIL;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingMilmar;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=72.167.40.157;Initial Catalog=ForwardingSGLtest;User ID=SGL;Password=SGL654123;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=72.167.40.157;Initial Catalog=ForwardingSadra;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingSGL;User ID=sa;Password=123;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.40.157;Initial Catalog=ForwardingNIS;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingIST;User ID=sa;Password=123;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingWeFreight;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.40.157;Initial Catalog=ForwardingUnitedTrans;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingDevOffline;User ID=sa;Password=ss14;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.48.130;Initial Catalog=ForwardingCosco;User ID=ChinaCosco;Password=Cosco5XdLuu;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=192.169.176.231;Initial Catalog=ForwardingFellowShip;User ID=saw;Password=YUXBn9G37zcBwz7B;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingFellowShip;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=92.205.63.107;Initial Catalog=ForwardingMesco;User ID=Mesco;Password=Mesco654123;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingBlueOceanMarine;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=72.167.40.157;Initial Catalog=ForwardingCairoFreight;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionStringAltun" connectionString="Data Source=.;Initial Catalog=ForwardingAltun;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringEUROShipping" connectionString="Data Source=.;Initial Catalog=FleetEuroshipping;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringMESCO" connectionString="Data Source=.;Initial Catalog=ForwardingMesco;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringGlobeLink" connectionString="Data Source=.;Initial Catalog=ForwardingGlobelink;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringSACO" connectionString="Data Source=.;Initial Catalog=ForwardingSACO;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringTopManagement" connectionString="Data Source=.;Initial Catalog=ForwardingTopmangment;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionStringAltun" connectionString="Data Source=92.205.63.107;Initial Catalog=ForwardingAltun;User ID=Mesco;Password=Mesco654123;integrated security=false;" providerName="System.Data.SqlClient" />
      <add name="ConnectionStringEUROShipping" connectionString="Data Source=92.205.63.107;Initial Catalog=ForwardingEuroshipping;User ID=Mesco;Password=Mesco654123;integrated security=false;" providerName="System.Data.SqlClient" />
      <add name="ConnectionStringMESCO" connectionString="Data Source=92.205.63.107;Initial Catalog=ForwardingGlobelink;User ID=Mesco;Password=Mesco654123;integrated security=false;" providerName="System.Data.SqlClient" />
      <add name="ConnectionStringGlobeLink" connectionString="Data Source=92.205.63.107;Initial Catalog=ForwardingMesco;User ID=Mesco;Password=Mesco654123;integrated security=false;" providerName="System.Data.SqlClient" />
      <add name="ConnectionStringSACO" connectionString="Data Source=92.205.63.107;Initial Catalog=ForwardingSACO;User ID=Mesco;Password=Mesco654123;integrated security=false;" providerName="System.Data.SqlClient" />
      <add name="ConnectionStringTopManagement" connectionString="Data Source=92.205.63.107;Initial Catalog=ForwardingTopmangment;User ID=Mesco;Password=Mesco654123;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=192.169.176.231;Initial Catalog=ForwardingTEU;User ID=saw;Password=YUXBn9G37zcBwz7B;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=92.205.128.102;Initial Catalog=ForwardingTCS;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=160.153.246.68;Initial Catalog=ForwardingFairTr;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.\sql2016;Initial Catalog=ForwardingGBLogistics;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingCairoFreight;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingNewtrans;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingKS2021;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.\sql2016;Initial Catalog=ForwardingGBLogistics20210528;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=198.12.248.119;Initial Catalog=ForwardingLion;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.\sql2016;Initial Catalog=ForwardingDispEG;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.\sql2014;Initial Catalog=LogisticsWeb;User ID=sa;Password=p@$$w0rd;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=kdminternational;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AccountingDynachem;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=ForwardingElite;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=ForwardingNewtrans;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=ForwardingMIL;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingLATT;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingFairTr;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=160.153.246.68;Initial Catalog=AccountingDynachemTest;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ERP_ELSafa_Egypt;User ID=sa;Password=123;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingEGL2021_2021_04_27;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=ForwardingKS2021;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=AccountingDynachem;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingCosco_19_1;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=132.148.164.140;Initial Catalog=ForwardingMELC;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=92.204.138.53;Initial Catalog=ForwardingBlueHarborEgypt;User ID=BHarborEg;Password=BHarborEgDH9CJ;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=92.204.138.53;Initial Catalog=ForwardingABC;User ID=ABC;Password=ABC2XtxDu;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AccountingDynachem_30_3_2021;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingIACC;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.10.11.194\GBLOGISTICSSQL;Initial Catalog=ForwardingGBLogistics;User ID=ist;Password=ist_123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=GBLOGISTICS01\GBLOGISTICSSQL;Initial Catalog=ForwardingGBLogistics;User ID=ist;Password=ist_123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.10.11.25\GBLOGISTICSTEST;Initial Catalog=ForwardingGBLogistics;User ID=ist;Password=ist_123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.10.11.25\GBLOGISTICSTEST;Initial Catalog=ForwardingGBLogistics;User ID=ist;Password=ist_123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.52.206;Initial Catalog=ForwardingTransOcean;User ID=TransO;Password=TransOe5PGgY;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=ForwardingELC;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingNewtrans - Test-27-5-2021;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.32.97;Initial Catalog=ForwardingStarExpress;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingNewtrans;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingMIL;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=160.153.246.68;Initial Catalog=ForwardingKDM;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.10.11.194\GBLOGISTICSSQL;Initial Catalog=ForwardingGBLogistics;User ID=ist;Password=ist_123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=GBLOGISTICS01\GBLOGISTICSSQL;Initial Catalog=ForwardingGBLogistics;User ID=ist;Password=ist_123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=132.148.164.140;Initial Catalog=ForwardingMECL;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=160.153.246.68;Initial Catalog=ForwardingHorus;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingACSLogistics;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=ForwardingKS2021;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.\SQL2016;Initial Catalog=ForwardingDispEG;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=198.12.248.119;Initial Catalog=ForwardingAirOceanLine;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=107.180.75.61;Initial Catalog=ForwardingGLS;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=BCD-LyAccounting;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=160.153.246.68;Initial Catalog=AccountingDynachem;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingCosco_19_1;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingNewtrans;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AccountingDynachem;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AccountingDynachem_3_2;User ID=;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingRedLine;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=92.204.138.53;Initial Catalog=ForwardingBEDAYA;User ID=BEDAYA;Password=BEDAYAu8ksYh;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=HP-PC\SQLEXPRESS;Initial Catalog=ForwardingBEDAYA;User ID=mostaa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=DESKTOP-BP9UMMG\MOUSTA2016;Initial Catalog=ForwardingTRC08_08_2022;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=208.109.32.161;Initial Catalog=AccountingAlwaleedMedical;User ID=saw;Password=xuhGX7Vb5KmkDEKp;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingSeaService;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingKML;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.140;Initial Catalog=LogisticsWeb;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=132.148.164.140;Initial Catalog=ForwardingEgyExp;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingNileLogistics;User ID=NileL;Password=NileL6CDu5m;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=160.153.246.68;Initial Catalog=ForwardingARK;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source= kdminternational.db.3885792.980.hostedresource.net;Initial Catalog=kdminternational;User ID=kdminternational;Password=Forwarding@123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingNewtrans-2-5-2021;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.252;Initial Catalog=KadmerERP-test;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providere="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingMIL;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=132.148.164.140;Initial Catalog=LogisticsWeb;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=nour-pc\sql2014;Initial Catalog=LogisticsWeb;User ID=sa;Password=123;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=nl1-wsq1.a2hosting.com;Initial Catalog=istegyne_ForwBlueSkyLogistics; User ID=istegyne_ForwIST;Password=Forwarding@123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AccountingDynachem_23_2_2021;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=160.153.246.68;Initial Catalog=ForwardingDGL;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="ConnectionString" connectionString="Data Source=ForwardingLATT.db.3885792.8d8.hostedresource.net;Initial Catalog=ForwardingLATT;User ID=ForwardingLATT;Password=Forwarding@123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.52.206;Initial Catalog=ForwardingVertex;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.52.206;Initial Catalog=ForwardingEGL;User ID=!STS0fT;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=50.63.14.186;Initial Catalog=ForwardingHorus;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingEGL2021;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingEGL2021;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=Forwarding-DEV-GBL;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=160.153.246.68;Initial Catalog=ForwardingEGL2020;User ID=sa;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingEGL2021_2021_04_27;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ForwardingNewtrans;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=92.205.28.184, 6664;Initial Catalog=ForwardingKS2023;User ID=saw;Password=xuhGX7Vb5KmkDEKp;integrated security=false;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DisbursementConnectionString" connectionString="data Source=72.167.50.234;Initial Catalog=DASMilmar;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DisbursementConnectionString" connectionString="data Source=132.148.164.140;Initial Catalog=DasCosco;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=.\sql2016;Initial Catalog=ForwardingGBLogistics;User ID=sa;Password=123456;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=.;Initial Catalog=ForwardingIACC;User ID=sa;Password=;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=NOUR-PC\SQL2014;Initial Catalog=ForwardingKadmarInternational2022_05032023;User ID=sa;Password=123;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data Source=72.167.48.130;Initial Catalog=ForwardingKadmarInternational2022;User ID=saw;Password=eeKvwK79DVNkQAAE;integrated security=false;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=72.167.50.234;Initial Catalog=ForwardingIST;User ID=saw;Password=MZAdqJ]EV[u6ukBK;integrated security=false;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--<system.net>
    <mailSettings>
      <smtp from="noreply@istegy.com">
        <network host="smtpout.secureserver.net"
                 port="587"
                 enableSsl="true"
                 userName="sherif"
                 password=""
                 defaultCredentials="false" />
        -->
  <!--This must be false on Gmail-->
  <!--
      </smtp>
    </mailSettings>
  </system.net>-->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="loginUrl" value="~/Login/Index"/>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial"/>
    <!--sherif:the previous line is to try redirect to when not authorized to login page-->
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState mode="InProc" /> Used to enable calling Session_End-->
    <!--the next line is to define file upload settings //executionTimeout : in secs //maxRequestLength in KBs-->
    <!--<httpRuntime executionTimeout="240000" maxRequestLength="2147483647" />-->
    <httpHandlers>
      <add path="FastReport.Export.axd" verb="*" type="FastReport.Web.Handlers.WebExport"/>
    </httpHandlers>
    <httpRuntime executionTimeout="11000" maxRequestLength="220000000" maxQueryStringLength="32768" maxUrlLength="65536"/>
    <membership defaultProvider="SimpleMembershipProvider" userIsOnlineTimeWindow="60">
      <providers>
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData"/>
      </providers>
    </membership>
    <!--<customErrors mode="On" defaultRedirect="~/Views/Shared/Error.cshtml"> 
        -->
    <!--<error statusCode="500"
                redirect="~/Error/InternalServer" />
        <error statusCode="404"
                redirect="~/Error/NotFound" />-->
    <!--
    </customErrors>-->
    <!--<roleManager enabled="true" defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>-->
    <compilation debug="true" targetFramework="4.8"/>
    <!--to work on A2Hosting-->
    <machineKey validationKey="F998E7E5C4AE85B0EA596C19CA0749D52CD11C69D213D2D5436D7B6EB5CE212341D614B08BF6BFC433A19CB83726B2684851B64F4F1C6CF90DFF094FD0898521" decryptionKey="7A461F2D7CA417E1B4F4E063EC9EBB21D803458512D4265EA5973A891EFF3D53" validation="SHA1" decryption="AES"/>
    <!--<authentication mode="Forms">
      <forms timeout="60" />
    </authentication>-->
    <!--EOF to work on A2Hosting-->
    <authentication mode="Forms">
      <!--<forms loginUrl="~/"/>-->
      <forms loginUrl="~/Login/Index" timeout="480" slidingExpiration="true"/>
    </authentication>
    <globalization uiCulture="auto" culture="auto"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <!--maxAllowedContentLength in bytes-->
    <security>
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="4294967295"/>-->
        <requestLimits maxAllowedContentLength="4294967295" maxQueryString="32768"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="FastReportHandler" path="FastReport.Export.axd" verb="*" type="FastReport.Web.Handlers.WebExport"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.30319"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.30319"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="4.0.30319"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>